{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if user.is_superuser %}Noko Dabo Admin Portal{% elif user.is_staff %}Noko Dabo Staff Portal{% else %}Welcome to Noko Dabo{% endif %}{% endblock %}

{% block branding %}
<div style="font-weight: bold;font-size: 1.6em">
    {% if user.is_superuser %}
        Noko Dabo Admin Portal
    {% elif user.is_staff %}
        Noko Dabo Staff Portal
    {% else %}
        Welcome to Noko Dabo
    {% endif %}
</div>
{% endblock %}




<!-- This Code Is Used To Update The Defoult Django Header For All Web Pages Example The Header That Says Django Administration -->